
.App {
    text-align: center;
    background-color: skyblue;

}
.text {
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: darkgoldenrod;
    color: white;
   
    
}
.box {
   padding: 5px; 
   border-radius: 10px;
   color: white;
}
.box.confirmed {
background-color: #d4d42c;
border: 1px solid rgb(136, 136, 49);
color: black;

}
.box.recovered {
background-color: #05ac2f;
border: 1px solid rgb(72, 160, 45);
}
.box.deaths {
    background-color: #910b0b;
border: 1px solid rgb(102, 20, 38);
}
.dropDown {
    margin: 1em 0;
    padding: 0.5em;
    font-size: 1em;
}
.developer{
    margin-top: 100px;
    text-align: end;
}
.developer img {
    border: 1px solid white;
    border-radius: 50%;
}
